// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung's Exynos4412 based kona device family base DT.
 * Based on exynos4412-midas.dtsi.
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 */

/dts-v1/;
#include "exynos4412.dtsi"
#include "exynos4412-ppmu-common.dtsi"
#include "exynos-pinctrl.h"
#include <dt-bindings/clock/maxim,max77686.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>

/ {
	compatible = "samsung,kona", "samsung,exynos4412", "samsung,exynos4";

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x80000000>;
	};

	aliases {
		mmc0 = &mshc_0;
		mmc2 = &sdhci_2;
		mmc3 = &sdhci_3;
	};

	chosen {
		stdout-path = &serial_2;
	};

	firmware@204f000 {
		compatible = "samsung,secure-firmware";
		reg = <0x0204f000 0x1000>;
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <0>;
		};

		xusbxti {
			compatible = "samsung,clock-xusbxti";
			clock-frequency = <24000000>;
		};
	};

	buttons: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys>;

		key-down {
			gpios = <&gpx3 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			label = "volume down";
			debounce-interval = <10>;
		};

		key-up {
			gpios = <&gpx2 2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			debounce-interval = <10>;
		};

		key-power {
			gpios = <&gpx2 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			label = "power";
			debounce-interval = <10>;
			wakeup-source;
		};
	};

	vbatt_reg: voltage-regulator-1 {
		compatible = "regulator-fixed";
		regulator-name = "VBATT";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	backlight_reset_supply: voltage-regulator-2 {
		compatible = "regulator-fixed";
		regulator-name = "BACKLIGHT_ENVDDIO";
		pinctrl-names = "default";
		pinctrl-0 = <&led_bl_reset>;
		gpio = <&gpm0 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
	
	panel_vdd: voltage-regulator-4 {
		compatible = "regulator-fixed";
		regulator-name = "LCD_ENABLE";
		regulator-min-microvolt = <2200000>;
		regulator-max-microvolt = <2200000>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_enable>;
		gpios = <&gpc0 1 GPIO_ACTIVE_HIGH>; /* GPIO_LCD_EN */
		enable-active-high;
	};

	wlan_pwrseq: sdhci3-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpm3 5 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&wifi_reset>;
		pinctrl-names = "default";
		clocks = <&max77686 MAX77686_CLK_PMIC>;
		clock-names = "ext_clock";
	};

	battery_cell: battery-cell {
		compatible = "simple-battery";
		device-chemistry = "lithium-ion";
		constant-charge-current-max-microamp = <1798200>;
		precharge-current-microamp = <250000>;
		charge-term-current-microamp = <250000>;
		constant-charge-voltage-max-microvolt = <4200000>;
	};

	i2c-1 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpy2 4 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpy2 5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	i2c-2 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpy0 2 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpy0 3 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;

		fuel-gauge@36 {
			compatible = "maxim,max17047";
			reg = <0x36>;
			pinctrl-0 = <&fuel_alert_irq>;
			pinctrl-names = "default";
			interrupt-parent = <&gpx2>;
			interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
			maxim,rsns-microohm = <10000>;
			maxim,over-heat-temp = <600>;
			maxim,over-volt = <4300>;
			power-supplies = <&max77693_charger>;
		};
	};

	i2c-3 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpm4 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpm4 0 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <5>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	i2c_max77693: i2c-4 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpm2 0 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpm2 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;

		max77693: mfd@66 {
			compatible = "maxim,max77693";
			reg = <0x66>;
			interrupt-parent = <&gpx1>;
			interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&max77693_irq>;

			muic {
				compatible = "maxim,max77693-muic";

				usb_conn: connector {
					compatible = "samsung,usb-connector-11pin",
						     "usb-b-connector";
					label = "micro-USB";
					type = "micro";

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
						};

						port@3 {
							reg = <3>;
						};
					};
				};
			};

			regulators {
				esafeout1_reg: ESAFEOUT1 {
					regulator-name = "ESAFEOUT1";
				};

				esafeout2_reg: ESAFEOUT2 {
					regulator-name = "ESAFEOUT2";
				};
			};

			motor-driver {
				compatible = "maxim,max77693-haptic";
				haptic-supply = <&ldo23_reg>;
				pwms = <&pwm 0 37904 0>;
			};

			max77693_charger: charger {
				compatible = "maxim,max77693-charger";
				monitored-battery = <&battery_cell>;

				maxim,constant-microvolt = <4350000>;
				maxim,min-system-microvolt = <3600000>;
				maxim,thermal-regulation-celsius = <70>;
				maxim,battery-overcurrent-microamp = <3500000>;
				maxim,charge-input-threshold-microvolt = <4300000>;

				maxim,usb-connector = <&usb_conn>;
			};
			
			led {
                		compatible = "maxim,max77693-led";
                		status = "disabled";
                	};
		};
	};

	i2c_bl: i2c-24 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpm1 0 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpm1 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		backlight: backlight@2c {
			compatible = "ti,lp8556";
			reg = <0x2c>;
			status = "okay";

			bl-name = "lcd-bl";
			init-brt = /bits/ 8 <0x78>; /* 120 */

			power-supply = <&vbatt_reg>;
			enable-supply = <&backlight_reset_supply>;

			pwms = <&pwm 1 78770 0>;
			pwm-names = "lp8556";
			pwm-period = <78770>;

			dev-ctrl = /bits/ 8 <0x81>;

			rom-a5h {
				rom-addr = /bits/ 8 <0xa5>;
				rom-val = /bits/ 8 <0x24>;
			};

		};
	};

	led-controller {
		compatible = "gpio-leds";
		led-0 {
			gpios = <&gpm0 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			function = LED_FUNCTION_KBD_BACKLIGHT;
			color = <LED_COLOR_ID_WHITE>;
		};
	};
};

&adc {
	vdd-supply = <&ldo3_reg>;
	/* not verified */
	status = "okay";
};

&bus_dmc {
	devfreq-events = <&ppmu_dmc0_3>, <&ppmu_dmc1_3>;
	vdd-supply = <&buck1_reg>;
	status = "okay";
};

&bus_acp {
	devfreq = <&bus_dmc>;
	status = "okay";
};

&bus_c2c {
	devfreq = <&bus_dmc>;
	status = "okay";
};

&bus_leftbus {
	devfreq-events = <&ppmu_leftbus_3>, <&ppmu_rightbus_3>;
	vdd-supply = <&buck3_reg>;
	status = "okay";
};

&bus_rightbus {
	devfreq = <&bus_leftbus>;
	status = "okay";
};

&bus_display {
	devfreq = <&bus_leftbus>;
	status = "okay";
};

&bus_fsys {
	devfreq = <&bus_leftbus>;
	status = "okay";
};

&bus_peri {
	devfreq = <&bus_leftbus>;
	status = "okay";
};

&bus_mfc {
	devfreq = <&bus_leftbus>;
	status = "okay";
};

&cpu0 {
	cpu0-supply = <&buck2_reg>;
};

&cpu_thermal {
	cooling-maps {
		map0 {
			/* Corresponds to 800MHz at freq_table */
			cooling-device = <&cpu0 7 7>, <&cpu1 7 7>,
					 <&cpu2 7 7>, <&cpu3 7 7>;
		};
		map1 {
			/* Corresponds to 200MHz at freq_table */
			cooling-device = <&cpu0 13 13>, <&cpu1 13 13>,
					 <&cpu2 13 13>, <&cpu3 13 13>;
		};
	};
};

&dsi_0 {
	vddcore-supply = <&ldo8_reg>;
	vddio-supply = <&ldo10_reg>;
	samsung,burst-clock-frequency = <460000000>;
	samsung,esc-clock-frequency = <20000000>;
	samsung,pll-clock-frequency = <24000000>;
	status = "okay";

	panel@1 {
		compatible = "novatek,nt71391";
		reg = <1>;
		power-supply = <&panel_vdd>;
		backlight = <&backlight>;
	};
};

&ehci {
	status = "okay";
};

&exynos_usbphy {
	vbus-supply = <&esafeout1_reg>;
	samsung,usb-connector = <&usb_conn>;
	status = "okay";
};

&fimd {
	status = "okay";
};

&gpu {
	mali-supply = <&buck4_reg>;
	status = "okay";
};

&hsotg {
	vusb_a-supply = <&ldo12_reg>;
	dr_mode = "peripheral";
	status = "okay";
};

&i2c_1 {
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-slave-addr = <0x10>;
	samsung,i2c-max-bus-freq = <400000>;
	status = "okay";

	lis3dh: accelerometer@19 {
		compatible = "st,lis3dh-accel";
		reg = <0x19>;
		interrupt-parent = <&gpx0>;
		interrupts = <0 IRQ_TYPE_EDGE_RISING>;
		pinctrl-0 = <&accelerometer_irq>;
		pinctrl-names = "default";
		mount-matrix =	"-1", "0",  "0",
				 "0", "1",  "0",
				 "0", "0", "-1";
	};
};

&i2c_3 {
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-slave-addr = <0x10>;
	samsung,i2c-max-bus-freq = <400000>;
	status = "okay";

	touchscreen@20 {
		compatible = "syna,rmi4-i2c"; //S7301
		reg = <0x20>;
		#address-cells = < 1 >;
		#size-cells = < 0 >;
		
		pinctrl-0 = <&tsp_rst &tsp_irq>;
		pinctrl-names = "default";
		interrupt-parent = <&gpm2>; // tsp_irq
		interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
		
		vdd-supply = <&ldo25_reg>;
		vio-supply = <&ldo5_reg>;

		syna,startup-delay-ms = <100>;

		rmi4-f01@1 {
			reg = <0x1>;
			syna,nosleep-mode = <1>;
		};

		rmi4-f11@11 {
			reg = <0x11>;
			syna,sensor-type = <1>;
			touchscreen-swapped-x-y;
			touchscreen-inverted-x;
		};

		rmi4-f1a@1a {
			reg = <0x1a>;
			
			key-back {
				label = "Back";
				linux,code = <KEY_BACK>;
			};
			key-menu {
				label = "Menu";
				linux,code = <KEY_MENU>;
			};

		};
	};
};

&i2c_7 {
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-slave-addr = <0x10>;
	samsung,i2c-max-bus-freq = <400000>;
	status = "okay";

	max77686: pmic@9 {
		compatible = "maxim,max77686";
		interrupt-parent = <&gpx0>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&max77686_irq>;
		pinctrl-names = "default";
		wakeup-source;
		reg = <0x09>;
		#clock-cells = <1>;

		voltage-regulators {
			/* WM8994 audio */
			ldo3_reg: LDO3 {
				regulator-name = "VCC_1.8V_AP";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			/* Touchkey */
			ldo5_reg: LDO5 {
				regulator-name = "VCC_1.8V_IO";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* CSI IP block */
			ldo8_reg: LDO8 {
				regulator-name = "VMIPI_1.0V";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			/* IR LED on/off */
			ldo9_reg: LDO9 {
				regulator-name = "VLED_IC_1.9V";
				regulator-min-microvolt = <1950000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* CSI IP block */
			ldo10_reg: LDO10 {
				regulator-name = "VMIPI_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			ldo11_reg: LDO11 {
				regulator-name = "VABB1_1.9V";
				regulator-min-microvolt = <1950000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* USB OTG */
			ldo12_reg: LDO12 {
				regulator-name = "VUOTG_3.0V";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			ldo14_reg: LDO14 {
				regulator-name = "VABB2_1.9V";
				regulator-min-microvolt = <1950000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			ldo18_reg: LDO18 {
				regulator-name = "CAM_IO_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			ldo19_reg: LDO19 {
				regulator-name = "VT_CORE_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			ldo21_reg: LDO21 {
				regulator-name = "VTF_2.8V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				maxim,ena-gpios = <&gpy2 0 GPIO_ACTIVE_HIGH>;
			};

			ldo23_reg: LDO23 {
				regulator-name = "VCC_MOTOR_3.0V";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			ldo24_reg: LDO24 {
				regulator-name = "CAM_A2.8V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			ldo25_reg: LDO25 {
				regulator-name = "TSP_3.3V";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			ldo26_reg: LDO26 {
				regulator-name = "3MP_AF_2.8V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			buck1_reg: BUCK1 {
				regulator-name = "VDD_MIF";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck2_reg: BUCK2 {
				regulator-name = "VDD_ARM";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck3_reg: BUCK3 {
				regulator-name = "VDD_INT";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck4_reg: BUCK4 {
				regulator-name = "VDD_G3D";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1200000>;
				regulator-boot-on;
			};

			buck9_reg: BUCK9 { 
				regulator-name = "3MP_CORE_1.2V";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1400000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			32KHZ_PMIC {
				regulator-name = "32KHZ_PMIC";
				regulator-always-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};
		};
	};
};

&mshc_0 {
	broken-cd;
	non-removable;
	card-detect-delay = <200>;
	clock-frequency = <400000000>;
	samsung,dw-mshc-ciu-div = <0>;
	samsung,dw-mshc-sdr-timing = <2 3>;
	samsung,dw-mshc-ddr-timing = <1 2>;
	mmc-ddr-1_8v;
	pinctrl-0 = <&sd4_clk &sd4_cmd &sd4_bus4 &sd4_bus8>;
	pinctrl-names = "default";
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	status = "okay";
};

&ohci {
	status = "okay";
};

&pinctrl_0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sleep0>;

	// lcd_freq are not configured in board config
	lcd_freq_scl: lcd-scl-pins {
		samsung,pins = "gpf0-4";
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
	};
	lcd_freq_sda: lcd-sda-pins {
		samsung,pins = "gpf0-5";
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
	};
	lcd_enable: lcd-enable-pins {
		samsung,pins = "gpc0-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	sleep0: sleep-state {
		PIN_SLP(gpa0-0, INPUT, NONE); /* BT_UART_RXD */
		PIN_SLP(gpa0-1, OUT0, NONE); /* BT_UART_TXD */
		PIN_SLP(gpa0-2, INPUT, NONE); /* BT_UART_CTS */
		PIN_SLP(gpa0-3, INPUT, UP); /* BT_UART_RTS */
		PIN_SLP(gpa0-4, INPUT, UP); /* GPS_UART_RXD */
		PIN_SLP(gpa0-5, INPUT, UP); /* GPS_UART_TXD */
		PIN_SLP(gpa0-6, INPUT, DOWN); /* GPS_UART_CTS */
		PIN_SLP(gpa0-7, INPUT, DOWN); /* GPS_UART_RTS */

		PIN_SLP(gpa1-0, INPUT, DOWN); /* 3G : AP_RXD LTE : NC */
		PIN_SLP(gpa1-1, INPUT, DOWN); /* 3G : AP_TXD LTE : NC */
		PIN_SLP(gpa1-2, INPUT, DOWN); /* TSP_SDA_1.8V */
		PIN_SLP(gpa1-3, INPUT, DOWN); /* TSP_SCL_1.8V */
		PIN_SLP(gpa1-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpa1-5, INPUT, DOWN); /* NC */

		PIN_SLP(gpb-0, INPUT, NONE);
		PIN_SLP(gpb-1, INPUT, NONE);
		PIN_SLP(gpb-2, INPUT, NONE);
		PIN_SLP(gpb-3, INPUT, NONE);
		PIN_SLP(gpb-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpb-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpb-6, INPUT, DOWN); /* NC */
		PIN_SLP(gpb-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpc0-0, INPUT, DOWN); /* REC_PCM_CLK-NC */
		PIN_SLP(gpc0-1, INPUT, DOWN); /* LCD_EN */
		PIN_SLP(gpc0-2, INPUT, DOWN); /* REC_PCM_SYNC-NC */
		PIN_SLP(gpc0-3, INPUT, DOWN); /* REC_PCM_IN-NC */
		PIN_SLP(gpc0-4, INPUT, DOWN); /* REC_PCM_OUT-NC */

		PIN_SLP(gpc1-0, INPUT, UP); /* PEN_PDCT */
		PIN_SLP(gpc1-1, PREV, NONE); /* PEN_LDO_EN */
		PIN_SLP(gpc1-2, INPUT, UP); /* PEN_IRQ_1.8V */
		PIN_SLP(gpc1-3, INPUT, UP); /* PEN_SDA_1.8V */
		PIN_SLP(gpc1-4, INPUT, UP); /* PEN_SCL_1.8V */

		PIN_SLP(gpd0-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpd0-1, OUT0, NONE); /* LED_BACKLIGHT_PWM */
		PIN_SLP(gpd0-2, INPUT, NONE);
		PIN_SLP(gpd0-3, INPUT, NONE);

		PIN_SLP(gpd1-0, INPUT, DOWN); /* 3M_SDA_1.8V */
		PIN_SLP(gpd1-1, INPUT, DOWN); /* 3M_SCL_1.8V */
		PIN_SLP(gpd1-2, INPUT, NONE);
		PIN_SLP(gpd1-3, INPUT, NONE);

		PIN_SLP(gpf0-0, INPUT, DOWN); /* LCD_HSYNC */
		PIN_SLP(gpf0-1, INPUT, DOWN); /* LCD_VSYNC */
		PIN_SLP(gpf0-2, INPUT, DOWN); /* LCD_DE */
		PIN_SLP(gpf0-3, INPUT, DOWN); /* LCD_PCLK */
		PIN_SLP(gpf0-4, INPUT, DOWN); /* LCD_FREQ_SCL */
		PIN_SLP(gpf0-5, INPUT, DOWN); /* LCD_FREQ_SDA */
		PIN_SLP(gpf0-6, INPUT, DOWN); /* NC */
		PIN_SLP(gpf0-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpf1-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpf1-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpf1-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpf1-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpf1-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpf1-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpf1-6, INPUT, NONE); /* TSP_VENDOR1 */
		PIN_SLP(gpf1-7, INPUT, NONE); /* TSP_VENDOR2 */

		PIN_SLP(gpf2-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpf2-1, OUT0, NONE); /* VT_CAM_nSTBY */
		PIN_SLP(gpf2-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpf2-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpf2-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpf2-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpf2-6, INPUT, DOWN); /* NC */
		PIN_SLP(gpf2-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpf3-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpf3-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpf3-2, PREV, NONE); /* BUCK3_SEL */
		PIN_SLP(gpf3-3, PREV, NONE); /* BUCK4_SEL */
		PIN_SLP(gpf3-4, OUT0, NONE); /* MHL_RST */
		PIN_SLP(gpf3-5, OUT0, NONE); /* MHL_INT */

		PIN_SLP(gpj0-0, INPUT, DOWN); /* CAM_PCLK */
		PIN_SLP(gpj0-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpj0-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpj0-3, PREV, NONE); /* SUB_MICBIAS_EN */
		PIN_SLP(gpj0-4, PREV, NONE); /* EAR_SND_SEL */
		PIN_SLP(gpj0-5, OUT0, NONE); /* CAM_EN2 */
		PIN_SLP(gpj0-6, OUT0, NONE); /* CAM_EN1 */
		PIN_SLP(gpj0-7, OUT0, NONE); /* 5M_nSTBY */

		PIN_SLP(gpj1-0, OUT0, NONE); /* VT_CAM_nRST */
		PIN_SLP(gpj1-1, PREV, NONE); /* PS_ALS_EN */
		PIN_SLP(gpj1-2, PREV, NONE); /* VPS_SOUND_EN */
		PIN_SLP(gpj1-3, INPUT, DOWN); /* CAM_MCLK */
		PIN_SLP(gpj1-4, INPUT, DOWN); /* MLH_WAKE_UP */

	};
};

&pinctrl_1 {
	pinctrl-names = "default";
	pinctrl-0 = <&sleep1>;

	sd3_wifi: sd3-wifi-pins {
		samsung,pins = "gpk3-3", "gpk3-4", "gpk3-5", "gpk3-6";
		samsung,pin-function = <EXYNOS_PIN_FUNC_2>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	bt_shutdown: bt-shutdown-pins {
		samsung,pins = "gpl0-6";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	uart_sel: uart-sel-pins {
		samsung,pins = "gpl2-7";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-val = <1>;
		/* 0 = CP, 1 = AP (serial output) */
	};

	led_bl_reset: led-bl-reset-pins {
		samsung,pins = "gpm0-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	tsp_rst: tsp-rst-pins {
		samsung,pins = "gpm0-4";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};


	tsp_irq: tsp-irq-pins { // TSP_INT
		samsung,pins = "gpm2-3";
		samsung,pin-function = <EXYNOS_PIN_FUNC_F>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	wifi_reset: wifi-reset-pins {
		samsung,pins = "gpm3-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	tsp_reg_gpio_1: tsp-reg-gpio-1-pins { // TSP_LDO_ON
		samsung,pins = "gpm4-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	accelerometer_irq: accelerometer-irq-pins {
		samsung,pins = "gpx0-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
	};

	stmpe_adc_irq: stmpe-adc-irq-pins {
		samsung,pins = "gpx0-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	max77686_irq: max77686-irq-pins {
		samsung,pins = "gpx0-7";
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	max77693_irq: max77693-irq-pins {
		samsung,pins = "gpx1-4";
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	gpio_keys: gpio-keys-pins {
		samsung,pins = "gpx2-2", "gpx2-7", "gpx3-3";
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	fuel_alert_irq: fuel-alert-irq-pins {
		samsung,pins = "gpx2-3";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	wifi_host_wake: wifi-host-wake-pins {
		samsung,pins = "gpx2-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_F>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
	};

	bt_host_wakeup: bt-host-wakeup-pins {
		samsung,pins = "gpx2-6";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	bt_device_wakeup: bt-device-wakeup-pins {
		samsung,pins = "gpx3-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	sdhci2_cd: sdhci2-cd-pins {
		samsung,pins = "gpx3-4";
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};

	sleep1: sleep-state {
		PIN_SLP(gpk0-0, PREV, NONE); /* NAND_CLK */
		PIN_SLP(gpk0-1, PREV, NONE); /* NAND_CMD */
		PIN_SLP(gpk0-2, PREV, NONE); /* eMMC_EN */
		PIN_SLP(gpk0-3, PREV, NONE); /* NAND_D-0 */
		PIN_SLP(gpk0-4, PREV, NONE); /* NAND_D-1 */
		PIN_SLP(gpk0-5, PREV, NONE); /* NAND_D-2 */
		PIN_SLP(gpk0-6, PREV, NONE); /* NAND_D-3 */

		PIN_SLP(gpk1-0, INPUT, DOWN);
		PIN_SLP(gpk1-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpk1-2, INPUT, DOWN);
		PIN_SLP(gpk1-3, PREV, NONE); /* NAND_D-4 */
		PIN_SLP(gpk1-4, PREV, NONE); /* NAND_D-5 */
		PIN_SLP(gpk1-5, PREV, NONE); /* NAND_D-6 */
		PIN_SLP(gpk1-6, PREV, NONE); /* NAND_D-7 */

		PIN_SLP(gpk2-0, INPUT, DOWN);
		PIN_SLP(gpk2-1, INPUT, DOWN);
		PIN_SLP(gpk2-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpk2-3, INPUT, DOWN);
		PIN_SLP(gpk2-4, INPUT, DOWN);
		PIN_SLP(gpk2-5, INPUT, DOWN);
		PIN_SLP(gpk2-6, INPUT, DOWN);

		PIN_SLP(gpk3-0, OUT0, NONE);
		PIN_SLP(gpk3-1, INPUT, NONE);
		PIN_SLP(gpk3-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpk3-3, INPUT, NONE);
		PIN_SLP(gpk3-4, INPUT, NONE);
		PIN_SLP(gpk3-5, INPUT, NONE);
		PIN_SLP(gpk3-6, INPUT, NONE);

		PIN_SLP(gpl0-0, OUT0, NONE); /* ACTIVE_STATE_HSIC */
		PIN_SLP(gpl0-1, INPUT, NONE); /* PS_ALS_SCL_1.8V */
		PIN_SLP(gpl0-2, INPUT, NONE); /* PS_ALS_SDA_1.8V */
		PIN_SLP(gpl0-3, INPUT, DOWN); /* NC-IRDA_CONTROL */
		PIN_SLP(gpl0-4, PREV, NONE); /* HDMI_EN */
		PIN_SLP(gpl0-6, PREV, NONE); /* BT_EN */

		PIN_SLP(gpl1-0, OUT0, NONE); /* PDA_ACTIVE */
		PIN_SLP(gpl1-1, OUT0, NONE); /* 5M_nRST */

		PIN_SLP(gpl2-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpl2-1, PREV, NONE); /* IRDA_EN */
		PIN_SLP(gpl2-2, PREV, NONE); /* GPS_EN */
		PIN_SLP(gpl2-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpl2-4, INPUT, DOWN); /* MOTOR_EN -> NC */
		PIN_SLP(gpl2-5, PREV, NONE); /* AP2MDM_PON_RESET_N , CP_ON*/
		PIN_SLP(gpl2-6, INPUT, DOWN); /*ACCESSORY_EN -> NC */
		PIN_SLP(gpl2-7, INPUT, DOWN); /* UART_SEL -> NC */

		PIN_SLP(gpm0-0, PREV, NONE); /* MICBIAS_EN */
		PIN_SLP(gpm0-1, OUT0, NONE); /* LED_BACKLIGHT_RESET */
		PIN_SLP(gpm0-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpm0-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpm0-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpm0-5, PREV, NONE); /* 2TOUCH_EN */
		PIN_SLP(gpm0-6, INPUT, NONE); /* IRDA_IRQ */
		PIN_SLP(gpm0-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpm1-0, INPUT, NONE); /* MOTOR_I2C_SDA */
		PIN_SLP(gpm1-1, INPUT, NONE); /* MOTOR_I2C_SCL */
		PIN_SLP(gpm1-2, INPUT, NONE); /* HW_REV0 */
		PIN_SLP(gpm1-3, INPUT, NONE); /* HW_REV1 */
		PIN_SLP(gpm1-4, INPUT, NONE); /* HW_REV2 */
		PIN_SLP(gpm1-5, INPUT, NONE); /* HW_REV3 */
		PIN_SLP(gpm1-6, INPUT, DOWN); /* NC */

		PIN_SLP(gpm2-0, INPUT, NONE); /* IF_PMIC_SDA */
		PIN_SLP(gpm2-1, INPUT, NONE); /* IF_PMIC_SCL */
		PIN_SLP(gpm2-2, INPUT, DOWN); /* VT_CAM_MCLK */
		PIN_SLP(gpm2-3, INPUT, NONE); /* TSP_INT */
		PIN_SLP(gpm2-4, INPUT, DOWN); /*  SUSPEND_REQUEST_HSIC for 3G, AP2MDM_WAKEUP for LTE, NC */

		PIN_SLP(gpm3-0, PREV, NONE); /* PMIC_DVS1 */
		PIN_SLP(gpm3-1, PREV, NONE); /* PMIC_DVS2 */
		PIN_SLP(gpm3-2, PREV, NONE); /* PMIC_DVS3 */
		PIN_SLP(gpm3-3, OUT1, NONE); /* RESET_REQ_N */
		PIN_SLP(gpm3-4, OUT0, DOWN); /* AP_DUMP_INT */
		PIN_SLP(gpm3-5, PREV, NONE); /* WLAN_EN */
		PIN_SLP(gpm3-6, INPUT, NONE); /* CP_DUMP_INT */
		PIN_SLP(gpm3-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpm4-0, INPUT, DOWN); /* ADC_I2C_SCL_1.8V -> NC */
		PIN_SLP(gpm4-1, INPUT, DOWN); /* ADC_I2C_SDA_1.8V -> NC */
		PIN_SLP(gpm4-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpm4-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpm4-4, PREV, NONE); /* CODEC_LDO_EN */
		PIN_SLP(gpm4-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpm4-6, INPUT, DOWN); /* NC-USB_OTG_EN */
		PIN_SLP(gpm4-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpy0-0, INPUT, DOWN); /* IRDA_SDA */
		PIN_SLP(gpy0-1, INPUT, DOWN); /* IRDA_SCL */
		PIN_SLP(gpy0-2, INPUT, NONE); /* FUEL_SDA_1.8V */
		PIN_SLP(gpy0-3, INPUT, NONE); /* FUEL_SDA_1.8V */
		PIN_SLP(gpy0-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpy0-5, INPUT, DOWN); /* NC */

		PIN_SLP(gpy1-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpy1-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpy1-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpy1-3, INPUT, DOWN); /* PEN_FWE1_1.8V */

		PIN_SLP(gpy2-0, PREV, NONE); /* TF_EN */
		PIN_SLP(gpy2-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpy2-2, INPUT, NONE); /* MHL_SDA_1.8V */
		PIN_SLP(gpy2-3, INPUT, NONE); /* MHL_SCL_1.8V */
		PIN_SLP(gpy2-4, INPUT, NONE); /* MSENSE_SDA_1.8V */
		PIN_SLP(gpy2-5, INPUT, NONE); /* MSENSE_SCL_1.8V */

		PIN_SLP(gpy3-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpy3-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpy3-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpy3-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpy3-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpy3-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpy3-6, INPUT, DOWN); /* NC */
		PIN_SLP(gpy3-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpy4-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpy4-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpy4-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpy4-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpy4-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpy4-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpy4-6, INPUT, DOWN); /* NC */
		PIN_SLP(gpy4-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpy5-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpy5-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpy5-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpy5-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpy5-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpy5-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpy5-6, INPUT, DOWN); /* NC */
		PIN_SLP(gpy5-7, INPUT, DOWN); /* NC */

		PIN_SLP(gpy6-0, INPUT, DOWN); /* NC */
		PIN_SLP(gpy6-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpy6-2, INPUT, DOWN); /* NC */
		PIN_SLP(gpy6-3, INPUT, DOWN); /* NC */
		PIN_SLP(gpy6-4, INPUT, DOWN); /* NC */
		PIN_SLP(gpy6-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpy6-6, INPUT, DOWN); /* NC */
		PIN_SLP(gpy6-7, INPUT, DOWN); /* NC */
	};
};

&pinctrl_2 {
	pinctrl-names = "default";
	pinctrl-0 = <&sleep2>;
	

	sleep2: sleep-state {
		PIN_SLP(gpz-0, INPUT, DOWN); /* MM_I2S_CLK */
		PIN_SLP(gpz-1, INPUT, DOWN); /* NC */
		PIN_SLP(gpz-2, INPUT, DOWN); /* MM_I2S_SYNC */
		PIN_SLP(gpz-3, INPUT, DOWN); /* MM_I2S_CLK */
		PIN_SLP(gpz-4, INPUT, DOWN); /* MM_I2S_CLK */
		PIN_SLP(gpz-5, INPUT, DOWN); /* NC */
		PIN_SLP(gpz-6, INPUT, DOWN); /* NC */	
	};
};

&pinctrl_3 {
	pinctrl-names = "default";
	pinctrl-0 = <&sleep3>;

	sleep3: sleep-state {
		PIN_SLP(gpv0-0, INPUT, DOWN);
		PIN_SLP(gpv0-1, INPUT, DOWN);
		PIN_SLP(gpv0-2, INPUT, DOWN);
		PIN_SLP(gpv0-3, INPUT, DOWN);
		PIN_SLP(gpv0-4, INPUT, DOWN);
		PIN_SLP(gpv0-5, INPUT, DOWN);
		PIN_SLP(gpv0-6, INPUT, DOWN);
		PIN_SLP(gpv0-7, INPUT, DOWN);

		PIN_SLP(gpv1-0, INPUT, DOWN);
		PIN_SLP(gpv1-1, INPUT, DOWN);
		PIN_SLP(gpv1-2, INPUT, DOWN);
		PIN_SLP(gpv1-3, INPUT, DOWN);
		PIN_SLP(gpv1-4, INPUT, DOWN);
		PIN_SLP(gpv1-5, INPUT, DOWN);
		PIN_SLP(gpv1-6, INPUT, DOWN);
		PIN_SLP(gpv1-7, INPUT, DOWN);

		PIN_SLP(gpv2-0, INPUT, DOWN);
		PIN_SLP(gpv2-1, INPUT, DOWN);
		PIN_SLP(gpv2-2, INPUT, DOWN);
		PIN_SLP(gpv2-3, INPUT, DOWN);
		PIN_SLP(gpv2-4, INPUT, DOWN);
		PIN_SLP(gpv2-5, INPUT, DOWN);
		PIN_SLP(gpv2-6, INPUT, DOWN);
		PIN_SLP(gpv2-7, INPUT, DOWN);

		PIN_SLP(gpv3-0, INPUT, DOWN);
		PIN_SLP(gpv3-1, INPUT, DOWN);
		PIN_SLP(gpv3-2, INPUT, DOWN);
		PIN_SLP(gpv3-3, INPUT, DOWN);
		PIN_SLP(gpv3-4, INPUT, DOWN);
		PIN_SLP(gpv3-5, INPUT, DOWN);
		PIN_SLP(gpv3-6, INPUT, DOWN);
		PIN_SLP(gpv3-7, INPUT, DOWN);

		PIN_SLP(gpv4-0, INPUT, DOWN);
		PIN_SLP(gpv4-1, INPUT, DOWN);
	};
};

&pmu_system_controller {
	assigned-clocks = <&pmu_system_controller 0>;
	assigned-clock-parents = <&clock CLK_XUSBXTI>;
};

&pwm {
	pinctrl-0 = <&pwm1_out>;
	pinctrl-names = "default";
	samsung,pwm-outputs = <0>, <1>;
	status = "okay";
};

&rtc {
	clocks = <&clock CLK_RTC>, <&max77686 MAX77686_CLK_AP>;
	clock-names = "rtc", "rtc_src";
	status = "okay";
};

&sdhci_2 {
	bus-width = <4>;
	cd-gpios = <&gpx3 4 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sdhci2_cd>;
	pinctrl-names = "default";
	vmmc-supply = <&ldo21_reg>;
	status = "okay";
};

&sdhci_3 {
	#address-cells = <1>;
	#size-cells = <0>;
	non-removable;
	bus-width = <4>;
	mmc-pwrseq = <&wlan_pwrseq>;

	pinctrl-names = "default";
	pinctrl-0 = <&sd3_clk &sd3_cmd &sd3_wifi>;
	status = "okay";

	wifi@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake>;
		interrupt-parent = <&gpx2>;
		interrupts = <5 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
	};
};

&serial_0 {
	pinctrl-0 = <&uart0_data &uart0_fctl>;
	pinctrl-names = "default";
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm4330-bt";
		pinctrl-0 = <&bt_shutdown &bt_device_wakeup &bt_host_wakeup>;
		pinctrl-names = "default";

		max-speed = <2000000>;
		shutdown-gpios = <&gpl0 6 GPIO_ACTIVE_HIGH>;
		device-wakeup-gpios = <&gpx3 1 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&gpx2 6 GPIO_ACTIVE_HIGH>;
		clocks = <&max77686 MAX77686_CLK_PMIC>;
		clock-names = "lpo";
	};
};

&serial_2 {
	pinctrl-0 = <&uart_sel>;
	pinctrl-names = "default";
	status = "okay";
};

&tmu {
	status = "okay";
};
